body, #root {
  height: 100vh;
  width: 100vw;
  display: flex;
  overflow: hidden;
  max-width: 100%;
  position: relative;
  background-color: black;
}

#OutsideCity {
  background: radial-gradient(#FFF,#9f9,#aa3,#c88,#f99,#2ff,#000);
  width: 8000px;
  height: 6500px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex: 1;
  position: fixed;
  top: -1000px;
  left: -1000px;
}


#City {
  background-image: url('../../assets/map_city_1.jpg');
  background-repeat: no-repeat;
  width: 6000px;
  height: 4500px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex: 1;
  position: fixed;
  top: 0px;
  left: 0px;
}

.character {
  background: url('../../assets/personsprite.jpg') no-repeat;
  width: 60px;
  height: 89px;
  object-fit: contain;
  background-size: 237px 355px;
  z-index: 2;
  flex: 1;
  position: fixed;
}