#FamilySetup {
  color: white;
  font-size: 1.3rem;
  display: flex;
  text-align: center;
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  align-items: center;
}

#FamilySetup .familyQuestion {
  position: fixed;
  top: 50px;
  width: 100%;
  text-align: center;
}

#FamilySetup .familyName span {
  display: block;
  font-weight: bold;
  font-size: 1.8rem;
}

#FamilySetup .familyName {
  flex: 1;
  align-self: center;
}

#FamilySetup input {
  width: 60%;
  max-width: 600px;
  font-size: 2rem;
  margin: 16px;
  height: 50px;
  text-align: center;
  color: #333333
}

#FamilySetup .familyBar {
  position: fixed;
  top: 0;
  background: #cccccc;
  border-bottom: 1px solid #444444;
  color: black;
  font-weight: 600;
  font-size: .8rem;
  width: 100%;
  height: 25px;
  font-family: 'Share Tech Mono', serif;
}

#FamilySetup .familyBar .primaryIcon img {
  height: 20px;
  width: 20px;
  align-self: center;
}

#FamilySetup .nameBar {
  position: fixed;
  top: 25px;
  width: 100%;
  height: 20px;
  background: #dddddd;
  font-family: 'Share Tech Mono', serif;
  font-size: .7rem;
  font-weight: 500;
  color: black;
  border-bottom: 1px solid #444444;
}

#FamilySetup .primaryAttributeValue {
  margin: 0 auto;
  background-color: #333333;
  display: flex;
  width: 80%;
  flex: 1;
}

#FamilySetup .primaryAttributeValue form {
  width: 100%;
}

#FamilySetup .primaryAttributeValue .attributeTitle {
  display: flex;
  width: 100%;
}

#FamilySetup .primaryAttributeValue .attributeTitle h4 {
  flex: 1;
  font-size: 1.7rem;
}

#FamilySetup .arrowIcon {
  height: 30px;
  width: 30px;
  border: 1px solid white;
}

#FamilySetup .arrowIcon:hover {
  cursor: pointer;
}

#FamilySetup .primaryAttributeChoice {
  width: 80%;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
}

#FamilySetup .primaryAttributeChoice .attributeDescription {
  flex: 1;
  display: flex;
  justify-content: flex-start;
}

#FamilySetup .primaryAttributeChoice h4 {
  font-size: 1.4rem;
  font-weight: 500;
}

#FamilySetup .primaryAttributeChoice span {

}

#FamilySetup .continueButtons {
  position: fixed;
  bottom: 100px;
  width: 100%;
}

#FamilySetup .continueButtons button {
  background-color: black;
  border: 1px solid white;
  margin: 15px;
  width: 150px;
  color: white;
}

#FamilySetup .continueButtons button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}