#FamilySetup {
  color: white;
  font-size: 1.3rem;
  display: flex;
  text-align: center;
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  align-items: center;
}

#FamilySetup .familyQuestion {
  position: fixed;
  top: 70px;
  width: 100%;
  text-align: center;
}

#FamilySetup .familyName span {
  display: block;
  font-weight: bold;
  font-size: 1.8rem;
}

#FamilySetup .familyName {
  flex: 1;
  align-self: center;
}

#FamilySetup input {
  width: 60%;
  max-width: 600px;
  font-size: 2rem;
  margin: 16px;
  height: 50px;
  text-align: center;
  color: #333333
}

#FamilySetup .familyBar {
  position: fixed;
  top: 0;
  background: #cccccc;
  border-bottom: 1px solid #444444;
  color: black;
  font-weight: 600;
  font-size: .8rem;
  width: 100%;
  height: 25px;
  font-family: 'Share Tech Mono', serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

#FamilySetup .topIcon {
  height: 20px;
  width: 20px;
}

#FamilySetup .nameBar {
  position: fixed;
  top: 25px;
  width: 100%;
  height: 20px;
  background: #dddddd;
  font-family: 'Share Tech Mono', serif;
  font-size: .7rem;
  font-weight: 500;
  color: black;
  border-bottom: 1px solid #444444;
}

#FamilySetup .familyBar * {
  margin-left: 5px;
  margin-right: 5px;
}

#FamilySetup .petBar {
  position: fixed;
  top: 45px;
  width: 100%;
  height: 20px;
  background: #eeeeee;
  font-family: 'Share Tech Mono', serif;
  font-size: .7rem;
  font-weight: 500;
  color: black;
  border-bottom: 1px solid #444444;
  display: flex;
  justify-content: center;
  align-items: center;
}

#FamilySetup .rotatingMenuChoice {
  margin: 0 auto;
  background-color: #333333;
  display: flex;
  width: 80%;
  text-align: center;
}

#FamilySetup .rotatingMenuChoice form {
  width: 100%;
}

#FamilySetup .rotatingMenuChoice .choiceTitle {
  display: flex;
  width: 100%;
  justify-content: center;
}

#FamilySetup .rotatingMenuChoice .choiceTitle h4 {
  font-size: 1.7rem;
  display: inline;
}

#FamilySetup .rotatingMenuChoice .choiceTitle img {
  height: 40px;
  width: 40px;
}

#FamilySetup .rotatingMenuChoice .choiceTitle .choiceTitleTitle {
  display: flex;
  justify-content: center;
  flex: 1;
  align-content: center;
}

#FamilySetup .arrowIcon {
  height: 30px;
  width: 30px;
  border: 1px solid white;
}

#FamilySetup .arrowIcon:hover {
  cursor: pointer;
}

#FamilySetup .rotatingChoice {
  width: 100%;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  min-height: 200px;
  justify-content: space-evenly;
}

#FamilySetup .rotatingChoice .attributeDescription {
  flex: 1;
  display: flex;
  justify-content: flex-start;
}

#FamilySetup .rotatingChoice .statIncrease {
  font-weight: bold;
}

#FamilySetup .rotatingChoice h4 {
  font-size: 1.4rem;
  font-weight: 500;
}

#FamilySetup .rotatingChoice span {
}

#FamilySetup .rotatingChoice h5 {
  text-decoration: underline;
  margin-bottom: 10px;
  margin-top: 10px;
}

#FamilySetup .continueButtons {
  position: fixed;
  bottom: 50px;
  width: 100%;
}

#FamilySetup .continueButtons button {
  background-color: black;
  border: 1px solid white;
  margin: 15px;
  width: 150px;
  color: white;
}

#FamilySetup .continueButtons button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

#FamilySetup .statInfo {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

#FamilySetup .statInfoData {
  display: flex;
  justify-content: flex-start;
}

#FamilySetup .statTitle {
  font-weight: bold; 
  margin-right: 10px;
}

#FamilySetup .tableCategories {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

#FamilySetup .growthRate {
  margin-right: 30px;
}

#FamilySetup .greenBox {
  background-color: #456e44;
}

#FamilySetup .yellowBox {
  background-color: #646e44;
}

#FamilySetup .orangeBox {
  background-color: #6e6443;
}

#FamilySetup .finalSelection {
  margin: 0 auto;
}

#FamilySetup .finalSelection .selectionInfo {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
}

#FamilySetup .finalSelection .selectionInfo > * {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

#FamilySetup .finalSelection .selectionInfo img {
  max-width: 200px;
}

#FamilySetup .finalSelection .finalAttribute {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

#FamilySetup .finalSelection .finalAttribute img {
  max-width: 30px;
}

#FamilySetup .finalMessage {
  
}