#PersonInfoHeader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: gray;
  border-bottom: 1px solid black;
  z-index: 10;
}

#PersonInfoHeader .personInfo:nth-child(2) {
  border-top: 1px black dashed;
}