.WhiteCircle {
  border-radius: 50%;
  width: 0;
  height: auto;
  background-color: white;
}

.smallOne {
  animation-name: appearSmall;
  animation-duration: 2s;
  animation-delay: 5s;
  animation-fill-mode: forwards;
  -webkit-animation-name: appearSmall;
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: 5s;
  -webkit-animation-fill-mode: forwards;
}

.mediumOne {
  animation: appearMedium 2s forwards;
  -webkit-animation: appearMedium 2s forwards;
}

@keyframes appearSmall {
  0% {
    width: 0;
    height: 0;
  }
  100% {
    width: 50px;
    height: 50px;
  }
}

@-webkit-keyframes appearSmall {
  0% {
    width: 0;
    height: 0;
  }
  100% {
    width: 50px;
    height: 50px;
  }
}

@keyframes appearMedium {
  0% {
    width: 50px;
    height: 50px;
  }
  100% {
    width: 200px;
    height: 200px;
  }
}

@-webkit-keyframes appearMedium {
  0% {
    width: 50px;
    height: 50px;
  }
  100% {
    width: 200px;
    height: 200px;
  }
}