* {
  margin: 0px;
  padding: 0px;
  font-size: 20px;
}

body {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  font-family: 'Roboto', sans-serif;
}

#App {
  flex: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: 'Share Tech Mono', serif;
  font-size: 0rem;
  color: white;
}

.cloud {
  position: fixed;
  height: 50px;
  width: 50px;
  opacity: 0;
}

.boy {
  width: 100%;
  border-radius: 50%;
  position: absolute;
  align-self: center;
  opacity: 0;
  z-index: 1;
}

.animation-slowBob {
  animation: slowBob infinite;
  -webkit-animation: slowBob infinite;
}

.animation-cloudToPosition {
  animation: cloudToPosition 5s forwards;
  animation-delay: 8s;
  -webkit-animation: cloudToPosition 5s forwards;
  -webkit-animation-delay: 8s;
}

.animation-expand {
  animation-name: expand;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  -webkit-animation-name: expand;
  -webkit-animation-duration: 3s;
  -webkit-animation-fill-mode: forwards;
}

.animation-reverseExpand {
  animation: reverseExpand 3s forwards;
  -webkit-animation: reverseExpand 3s forwards;
}

.animation-zeroToHundredOpacity {
  animation: zeroToHundredOpacity 2s forwards;
  -webkit-animation: zeroToHundredOpacity 2s forwards;
}

@keyframes expand {
  0% {
    font-size: 0rem;
  }
  100% {
    font-size: 2.8rem;
  }
}

@keyframes reverseExpand {
  0% {
    font-size: 2.8rem;
  }
  20% {
    font-size: 3.8rem;
  }
  100% {
    font-size: 0rem;
  }
}

@-webkit-keyframes expand {
  0% {
    font-size: 0rem;
  }
  100% {
    font-size: 3rem;
  }
}

@-webkit-keyframes reverseExpand {
  0% {
    font-size: 2.8rem;
  }
  20% {
    font-size: 3.8rem;
  }
  100% {
    font-size: 0rem;
  }
}

@keyframes cloudToPosition {
  0% {
    opacity: 0;
    bottom: 300px;
    left: 200px;
  }
  20% {
    opacity: 33;
    bottom: 220px;
    left: 130px;
  }
  40% {
    opacity: 66;
    bottom: 160px;
    left: 200px;
  }
  60% {
    opacity: 100;
    bottom: 100px;
    left: 100px;
  }
  80% {
    opacity: 100;
    bottom: 30px;
    left: 40px;
  }
  100% {
    opacity: 100;
    bottom: 10px;
    left: 30px;
  }
}

@-webkit-keyframes cloudToPosition {
  0% {
    opacity: 0;
    bottom: 300px;
    right: 200px;
  }
  20% {
    opacity: 33;
    bottom: 220px;
    right: 130px;
  }
  40% {
    opacity: 66;
    bottom: 160px;
    left: 200px;
  }
  60% {
    opacity: 100;
    bottom: 100px;
    left: 100px;
  }
  80% {
    opacity: 100;
    bottom: 30px;
    left: 40px;
  }
  100% {
    opacity: 100;
    bottom: 10px;
    left: 30px;
  }
}

@keyframes slowBob {
  0% {
    bottom: 10px;
  }
  50% {
    bottom: 20px;
  }
  100% {
    bottom: 10px;
  }
}

@-webkit-keyframes slowBob {
  0% {
    bottom: 10px;
  }
  50% {
    bottom: 20px;
  }
  100% {
    bottom: 10px;
  }
}

@keyframes zeroToHundredOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

@-webkit-keyframes zeroToHundredOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}